<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td valign="top" style="font-size:0">
                <div style="max-width:600px;margin:0 auto">
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td valingn="top">
                                <a href="https://store.kakaofriends.com" target="_blank" style="display:block;width:161px;height:60px">
                                    <img src="https://t1.kakaocdn.net/friends/kfo-common/dm/img_logo.png" border="0" width="161" height="60" style="display:block;width:161px;height:60px" alt="KAKAO FRIENDS">
                                </a>
                            </td>
                        </tr>
                        <tr><td height="31"></td></tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td width="10"></td>
                                        <td valign="top" style="font-size:23px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;line-height:27px;color:#222;letter-spacing:-0.01em;text-align:center">카카오프렌즈와 <br>친구가 되어주셔서 감사합니다!</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr><td height="21"></td></tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td width="10"></td>
                                        <td valign="top" style="font-size:14px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;line-height:18px;color:#898989;letter-spacing:-0.01em;text-align:center">최고의 상품과 콘텐츠로 찾아 뵙는 카카오프렌즈가 되겠습니다!</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr><td height="53"></td></tr>
                        <tr>
                            <td valingn="top" align="center"><img src="https://t1.kakaocdn.net/friends/kfo-common/dm/member_mail_171107.gif" width="300" height="105" border="0" style="display:block;width:300px;height:105px;margin:0 auto" alt=""></td>
                        </tr>
                        <tr><td height="14"></td></tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td width="10"></td>
                                        <td>
                                            <table cellspacing="0" cellpadding="0" width="100%">
                                                <tr><td height="2" bgcolor="#1e1e1e"></td></tr>
                                                <tr><td height="28"></td></tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="2"></td>
                                                                <td width="13">&middot;</td>
                                                                <td style="font-size:13px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;line-height:18px;color:#1e1e1e;letter-spacing:-0.01em">
                                                                    상품 구매 시 특정 포인트가 지급됩니다.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="2"></td>
                                                                <td width="13">&middot;</td>
                                                                <td style="font-size:13px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;line-height:18px;color:#1e1e1e;letter-spacing:-0.01em">
                                                                    다양한 이벤트와 쿠폰 제공 혜택을 받으실 수 있어요.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="2"></td>
                                                                <td width="13">&middot;</td>
                                                                <td style="font-size:13px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;line-height:18px;color:#1e1e1e;letter-spacing:-0.01em">
                                                                    카카오프렌즈 신규상품 정보를 제공해드려요.
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr><td height="56"></td></tr>
                                                <tr><td><a href="https://store.kakaofriends.com/signin"><img src="https://t1.kakaocdn.net/friends/kfo-common/dm/btn_login.gif" width="280" height="40" border="0" style="display:block;width:280px;height:40px;margin:0 auto" alt="카카오프렌즈 로그인 하러가기"></a></td></tr>
                                                <tr><td height="49"></td></tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="2"></td>
                                                                <td width="24"><img src="https://t1.kakaocdn.net/friends/kfo-common/dm/ico_check.gif" width="14" height="10" border="0" style="display:block;width:14px;height:10px" alt=""></td>
                                                                <td style="font-weight:bold;font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">광고수신 동의여부 안내</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr><td height="16"></td></tr>
                                                <tr><td height="1" bgcolor="#1e1e1e"></td></tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="75">
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="17"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">
                                                                                요청일자
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="15"></td></tr>
                                                                    </table>
                                                                </td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td width="25"></td>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="17"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e" th:text="${variable['date']}">
                                                                                2017. 11. 25
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="15"></td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%" height="1">
                                                            <tr>
                                                                <td width="85" bgcolor="#dfdfdf"></td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td bgcolor="#dfdfdf"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="75">
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">
                                                                                이메일
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td width="25"></td>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e" th:text="${variable['agreementEmail']}">
                                                                                수신거부
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%" height="1">
                                                            <tr>
                                                                <td width="85" bgcolor="#dfdfdf"></td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td bgcolor="#dfdfdf"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="75">
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">
                                                                                SMS
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td width="25"></td>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e" th:text="${variable['agreementSMS']}">
                                                                                수신거부
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%" height="1">
                                                            <tr>
                                                                <td width="85" bgcolor="#dfdfdf"></td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td bgcolor="#dfdfdf"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tr>
                                                                <td width="10"></td>
                                                                <td width="75">
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">
                                                                                처리결과
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                                <td width="1" bgcolor="#1e1e1e"></td>
                                                                <td width="25"></td>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0" width="100%">
                                                                        <tr><td height="16"></td></tr>
                                                                        <tr>
                                                                            <td valign="top" style="font-size:12px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e" th:text="${variable['result']}">
                                                                                완료
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height="14"></td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr><td height="1" bgcolor="#1e1e1e"></td></tr>
                                                <tr><td height="38"></td></tr>
                                                <tr>
                                                    <td style="font-size:11px;line-height:15px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e">
                                                        본 메일은 발신전용입니다.
                                                    </td>
                                                </tr>
                                                <tr><td height="5"></td></tr>
                                                <tr>
                                                    <td style="font-size:11px;line-height:15px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#1e1e1e;letter-spacing:-0.01em">
                                                        상품에 대한 불만 및 분쟁처리, 기타 관련 사항은 <a href="https://store.kakaofriends.com/kr/index" target="_blank" style="color:#0096ff;text-decoration:none">1:1 문의</a> 사항으로 문의 바랍니다.
                                                    </td>
                                                </tr>
                                                <tr><td height="25"></td></tr>
                                                <tr>
                                                    <td style="font-weight:bold;font-size:11px;font-family:Apple SD Gothic Neo,'맑은고딕',Malgun Gothic,'돋움',Dotum,sans-serif;color:#c9c9c9"><a href="#none" style="color:#c9c9c9;text-decoration:none" target="_blank">© Kakao Friends</a> Corp.</td>
                                                </tr>
                                                <tr><td height="35"></td></tr>
                                            </table>
                                        </td>
                                        <td width="10"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>


